.ProductDetails {
  display: none;
}

.Product img { #kích thước ảnh vuông 150x150px.
  width: 150px;
  height: 150px;
  border-radius: 20px;  #bo tròn 4 góc, mềm mại hơn.
  box-shadow: 5px 5px 10px #aaa; #tạo hiệu ứng bóng đổ xám, làm ảnh nổi lên.
}

.ProductName {
  font-weight: bold;
}

.ProductPrice {
  font-style: italic;
}

.ProductPrice:before {
  content: " - ";
}

.Product {
  text-align: center;
  width: 150px;
  margin: 20px;
  float: left;
  cursor: pointer;
}

.Product:hover .ProductDetails {
  display: block;
}
